span {
    opacity: 1;
    transition: all 0.5s ease;
}

.fade {
    opacity: 0;
    /* transform: translateY(0px); */
}

.shadow_white {
    text-shadow: 0 -3px, 3px 0;
}

.about {
    padding: 1.5rem 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.3) 100%), url("../assets/background/bg-about.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about h2, .about .h2 {
    font-size: 3.5rem;
    font-weight: 700;
    display: block;
}
