.lead-primary {
    font-size: 1.25rem;
    font-weight: 500;
    opacity: 1;
}

.lead-secondary {
    font-size: 1.1rem;
    font-weight: 400;
    opacity: 1;
}

.content-section-footer {
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
} 


.bg-midnight {
    --bs-bg-opacity: 1;
    background-color: rgb(0, 28, 72) !important;
}

.bg-arizona-blue {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-arizona-blue-rgb), var(--bs-bg-opacity)) !important;
}
  
.bg-azurite {
    --bs-bg-opacity: 1;
    background-color: rgb(30, 82, 136) !important;
}

.bg-oasis {
    --bs-bg-opacity: 1;
    background-color: rgb(55, 141, 189) !important;
}

.bg-sky {
    --bs-bg-opacity: 1;
    background-color: rgb(129, 211, 235) !important;
}

.content-section-motto {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.text-arizona-red {
    color: rgb(171, 5, 32);
}

.profile {
    color: rgb(20, 20, 20);
}

.profile:hover{
    color: rgb(55, 141, 189);
}

.text-shadow-white{
    text-shadow: 0 0 3px rgb(255, 255, 255);
}

.text-shadow-azurite{
    text-shadow: 0 0 3px rgb(30, 82, 136);
}

.text-shadow-midnight{
    text-shadow: 0 0 3px rgb(0, 28, 72);
}

.text-shadow-bloom{
    text-shadow: 0 0 3px rgb(239, 64, 86);
}

.text-sky {
    color: rgb(129, 211, 235) !important;
}

.text-oasis {
    color: rgb(55, 141, 189) !important;
}

.text-azurite {
    color: rgb(30, 82, 136) !important;
}

.text-arizona-blue {
    color: rgb(12, 35, 75) !important;
}

.text-midnight {
    color: rgb(0, 28, 72) !important;
}

.text-chili {
    color: rgb(139, 0, 21) !important;
}

.text-light-chili {
    color: rgb(255, 140, 160) !important;
}

.shadow_black {
    text-shadow: 1px 2px black;
}

.img-profile{
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .img-profile{
        max-width: 50%;
        height: auto;
        margin-bottom: 1rem !important;
    }
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }